.Services{
    background-color:var(--primary-bg-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

}
.Services h1{
    width:100vw;
    text-align: center;
    color:var(--text-white);
    background-color:var(--light-bg-color);
    padding:0.5rem 0rem 0.5rem 0rem;
    
}

.Service{
    width:600px;
    height: 300px;
    display:flex;
    background: var(--secondry-bg-color);  /* fallback for old browsers */
    margin:2rem;
    float: left;
    padding:2rem;
    text-align: center;
    border-radius: 10px;
    box-shadow:10px 10px 15px black;
}
.Service .name,
.Service .info{
    display:flex;
    align-items: center;
    justify-content: center;
}
.Service .name{
    font-size: 30px;
    
}
.Service .info{
    color:var(--text-white);
    font-family: 'redressed';
    font-size: 22px;
    padding:2rem;
}