.Navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0.5rem 2rem;
    background-color: var(--primary-bg-color);
    color:var(--text-white);
  
}
.Navbar .nav{
    display:flex;
    list-style: none;

    
}
.nav li{
    margin-right:1rem;
    padding : 0.3rem 1rem;
    border-radius: 5px;
    font-family: 'Bebas Neue';
    font-weight: 300;
    font-size: 20px;
    background-color: var(--secondry-bg-color);
    cursor: pointer;
}
.nav li:hover{
    box-shadow: inset 5px 5px 5px rgb(92, 18, 0), inset -5px -5px 5px rgb(92, 18, 0);
}